extends layout

block content
  div.row
    div.col-xl-6.col-lg-6
      div.card.shadow.mb-4
        //Card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          h6.m-0.font-weight-bold.text-primary 1.- Datos Generales
        //Card body
        div.card-body
          div.form-group
            //- label(for="txt_cliente") Cliente
            //- input#txt_cliente.form-control(placeholder='Nombre del Cliente' type='text')
            select#ddl_cliente.selectpicker(data-live-search="true" data-title="Seleccione un Cliente")
          div.form-group
            select#ddl_aduana.selectpicker(data-live-search="true" data-title="Seleccione una aduana")
          div.form-group
            label(for="txt_fecha") Fecha
            input#txt_fecha.form-control(type="text")
          div.form-group
            label(for="txt_hora") Hora
            input#txt_hora.form-control(placeholder='Hora de llegada al almacén' type='text')
  
    div.col-xl-6.col-lg-6
      div.card.shadow.mb-4
        //card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          div.m-0.font-weight-bold.text-primary 2.- Documentación
        div.card-body
  
  div.row
    div.col-xl-6.col-lg-6
      div.card.shadow.mb-4
        //card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          div.m-0.font-weight-bold.text-primary 3.- Unidad de transporte
        div.card-body
          div.form-group
            label(for="txt_operador") Operador
            input#txt_operador.form-control(placeholder='Nombre del Operador' type='text')
          div.form-group
            label(for="txt_sello") Sello
            input#txt_sello.form-control(placeholder='Número de sello' type='text')
          div.form-group
            select#ddl_transporte_linea.selectpicker(data-live-search="true" data-title="Seleccione una linea de transporte")
          div.form-group
            select#ddl_transporte_tipo.selectpicker(data-live-search="true" data-title="Seleccione un tipo de transporte")
          div.form-group
            label(for="txt_placa") Placa
            input#txt_placa.form-control(placeholder='Número de placa' type='text')
          div.form-group
            label(for="txt_caja") Caja
            input#txt_caja.form-control(placeholder='Número de la caja' type='text')
          div.form-group
            label(for="txt_contenedor_1") Contenedor 1
            input#txt_contenedor-1.form-control(placeholder='Número del contenedor 1' type='text')
          div.form-group
            label(for="txt_contenedor_2") Contenedor 2
            input#txt_contenedor-2.form-control(placeholder='Número del contenedor 2' type='text')
  
    div.col-xl-6.col-lg-6
      div.card.shadow.mb-4
        //card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          div.m-0.font-weight-bold.text-primary 4.- Mercancía
        div.card-body
          div.form-group
            select#ddl_mercancia_vendor.selectpicker(data-live-search="true" data-title="Seleccione un vendor")
          div.form-group
            label(for="txt_producto") Producto
            input#txt_producto.form-control(placeholder='Nombre del producto' type='text')
          div.form-group
            label(for="txt_bto") Bultos Declarados
            input#txt_bto.form-control(placeholder='Bultos declarados' type='number')
          div.form-group
            label(for="txt_pza") Piezas Declaradas
            input#txt_pza.form-control(placeholder='Piezas declaradas' type='number')
