extends layout

block content

  div.card.shadow.mb-4
    //Card header
    div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
      h6.m-0.font-weight-bold.text-primary Datos Generales
    //Card body
    div.card-body
      
  div.card.shadow.mb-4
    //card header
    div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
      div.m-0.font-weight-bold.text-primary Documentación
    div.card-body
  
  div.card.shadow.mb-4
    //card header
    div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
      div.m-0.font-weight-bold.text-primary Unidades de transporte
    div.card-body
  
  div.card.shadow.mb-4
    //card header
    div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
      div.m-0.font-weight-bold.text-primary Mercancía
    div.card-body