form#frm-asn.needs-validation(novalidate)
  div.row

    div.col-xl-12.col-lg-12
      div.card.shadow.mb-4
        //Card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          h6.m-0.font-weight-bold.text-primary 1.- Datos Generales
        //Card body
        div.card-body
          div.form-group
            //- label(for="txt_cliente") Cliente
            //- input#txt_cliente.form-control(placeholder='Nombre del Cliente' type='text')
            select#ddl_Cliente.selectpicker.form-control.custom-select(aria-expanded="false" data-live-search="true" data-title="Seleccione un Cliente" required)
          //- div.form-group
          //-   select#ddl_aduana.selectpicker.form-control(data-live-search="true" data-title="Seleccione una aduana")
          div.form-group
            label(for="txt_fecha") Fecha de arribo
            input#txt_fecha.form-control(type="text" required)
            input#altTxt_fecha(type="hidden")
          div.form-group
            label(for="txt_hora") Hora de arribo
            input#txt_hora.form-control(placeholder='Hora de llegada al almacén' type='time' required)
    
    div.col-xl-12.col-lg-12
      div.card.shadow.mb-4
        //card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          div.m-0.font-weight-bold.text-primary 2.- Datos del arribo
        div.card-body
          div.form-group
            label(for="txt_sello") Sello
            input#txt_sello.form-control(placeholder='Número de sello' type='text')
          div.form-group
            select#ddl_Almacen.selectpicker.form-control(aria-expanded="false" data-live-search="true" data-title="Seleccione un Almacén" required)
          div.form-group
            label(for="txt_operador") Operador
            input#txt_operador.form-control(placeholder='Nombre del Operador' type='text')
          div.form-group
            select#ddl_TransporteLinea.selectpicker.form-control(data-live-search="true" data-title="Seleccione una linea de transporte")
          div.form-group
            select#ddl_TransporteTipo.selectpicker.form-control(data-live-search="true" data-title="Seleccione un tipo de transporte")
          #datosVehiculo.d-none
            div#div_placa.form-group
              label(for="txt_placa") Placa
              input#txt_placa.form-control(placeholder='Número de placa' type='text')
            div#div_caja.form-group
              label(for="txt_caja") Caja
              input#txt_caja.form-control(placeholder='Número de la caja' type='text')
            div#div_cont1.form-group
              label(for="txt_contenedor_1") Contenedor 1
              input#txt_contenedor-1.form-control(placeholder='Número del contenedor 1' type='text')
            div#div_cont2.form-group
              label(for="txt_contenedor_2") Contenedor 2
              input#txt_contenedor-2.form-control(placeholder='Número del contenedor 2' type='text')
  
    div.col-xl-12.col-lg-12
      div.card.shadow.mb-4
        //card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          div.m-0.font-weight-bold.text-primary 3.- Producto
        div.card-body
          div.form-group
            select#ddl_Vendor.selectpicker.form-control(data-live-search="true" data-title="Seleccione un vendor" required)
          div.form-group
            label(for="txt_producto") Producto
            select#ddl_vendor_producto.selectpicker.form-control(data-live-search="true" data-title="Seleccione el producto" required)
          //- div.form-group
          //-   label(for="txt_tar") Tarimas Declaradas
          //-   input#txt_tar.form-control(placeholder='Tarimas declaradas' type='number')
          //- div.form-group
          //-   label(for="txt_cja") Cajas Declaradas
          //-   input#txt_cja.form-control(placeholder='Cajas declaradas' type='number' required)
          #cte_no_config.form-group.d-none
            label(for="txt_pza") Piezas Declaradas
            input#txt_pza.form-control(placeholder='Piezas declaradas' type='number' required)
          #cte_config.form-group.d-none
            .form-group
              button#btn_upload_csv Seleccionar archivo
            .form-group
              #div_det_prod.d-none aqui

  
  div.row
    div.col-xl-12.col-lg-12
      div.card.shadow.mb-4
        //card header
        div.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          div.m-0.font-weight-bold.text-primary 4.- Documentación
        div.card-body
          div.form-group
            select#ddl_Documento.selectpicker.form-control(data-live-search="true" data-title="Seleccione documentos")
          div.form-group
            label(for="txt_referencia") Referencia
            input#txt_referencia.form-control(type="text")
          div.form-group
            button#add_referencia.btn.btn-secondary(type="button") Agregar Documento
          div.form-group
            div.table-responsive
              table#tbl_referencia.table.table-bordered(width="100%" style="cellspacing:0")
                thead
                  tr
                    th Documento
                    th Referencia
                    th Requerido
                    th(align="center") Quitar
                tbody

  .container
    .row
      .col-md-3.offset-md-9
        .form-group
          button#add_asn.btn.btn-primary(type="submit") Guardar Aviso de Arribo
 
form#frm_upload_csv.d-none(enctype="multipart/form-data" action="/asn/upcsv" method="post")
  input#file_detail_product(accept=".csv" type="file" name="det_prod_csv")
  input#submit_csv(type="submit" value="Subir CSV")
  span#status
  #div_det_prod_csv
    include asn_producto_detail.pug
