form#frm-asn.needs-validation(novalidate)
  .row
    .col-xl-12.col-lg-12
      .card.shadow.mb-4
        //Card header
        .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          h6.m-0.font-weight-bold.text-primary 1.- Datos de la recepción
        //Card body
        .card-body
          .form-group
            select#ddl_entrada.form-control.custom-select(aria-expanded="false" data-live-search="true" data-title="Seleccione un Folio de Entrada" required)
              if lstEnt != undefined
                each itemE in lstEnt
                  option(value=itemE.Id_entrada) #{itemE.Folio}
          .form-group
            .table-responsive
              table#tbl_prod_ubica.table.table-bordered(width="100%" style="cellspacing:0")
                thead
                  tr
                    th Folio
                    th Método
                    th Formato
                    th Cantidad
                    th Cajas
                    th Piezas
                    th Tipo Ref.
                    th Ref.
                    th Lote
                    th Cad.
                tbody