extends layout
block styles
  <link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/@fullcalendar/bootstrap/main.min.css' rel='stylesheet' />

block content

  p #{message}
  ul#myTab.nav.nav-tabs(role="tablist")
    li.nav-item
      a#asn-tab.nav-link.active(data-toggle="tab" href="#asn" role="tab" aria-controls="asn" aria-selected="true") ASN
    li.nav-item
      a#schedule-tab.nav-link(data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false") Calendario
    li.nav-item
      a#receiving-tab.nav-link(data-toggle="tab" href="#receiving" role="tab" aria-controls="receiving" aria-selected="false") Descarga
  .tab-content
    #asn.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="asn-tab")
      .container(style="margin-top: 20px")
        include asn.pug
    #schedule.tab-pane.fade(role="tabpanel" aria-labelledby="schedule-tab")
      .container(style="margin-top: 20px")
        .form-group
          select#ddl_cliente_schedule.selectpicker.form-control(data-live-search="true" data-style="btn-primary" data-title="Seleccione un cliente")
            option(selected value="") Todos los clientes
      #calendar
    #receiving.tab-pane.fade(role="tabpanel" aria-labelledby="receiving-tab") 
      .container(style="margin-top: 20px")
        #div-almacenes.row
          include recepcion_cortinas.pug
        #div_cortina.d-none
          include recepcion_cortina.pug

block scripts
  <script src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js'></script>
  <script src='https://unpkg.com/@fullcalendar/core@4.3.1/locales/es.js'></script>
  <script src='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js'></script>
  <script src='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js'></script>
  <script src='https://unpkg.com/@fullcalendar/bootstrap/main.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js'></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src='js/views/recepcion/asn.js'></script>
  <script src='js/views/recepcion/schedule.js'></script>
  <script src='js/views/recepcion/receiving.js'></script>
  <script src='js/views/recepcion/recepcion.js'></script>