extends layout
block styles
  <link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/@fullcalendar/bootstrap/main.min.css' rel='stylesheet' />

block content

  p #{message}
  .form-group
    select#ddl_cliente.selectpicker.form-control(data-live-search="true" data-style="btn-primary" data-title="Seleccione un cliente")
      option(selected value="") Todos los clientes
  ul#myTab.nav.nav-tabs(role="tablist")
    li.nav-item
      a#schedule-tab.nav-link.active(data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="true") En calendario
    li.nav-item
      a#receiving-tab.nav-link(data-toggle="tab" href="#receiving" role="tab" aria-controls="receiving" aria-selected="false") En recepción
  .tab-content
    #schedule.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="schedule-tab")
      #calendar
    #receiving.tab-pane.fade(role="tabpanel" aria-labelledby="receiving-tab") 
      .container(style="margin-top: 20px")
        .row
          each item in arrAsnRecCor
            .col-xl-3.col-md-6.mb-4
              .card.border-left-primary.shadow.h-100.py-2
                .card-body
                  .row.no-gutters.align-items-center
                    .col.mr-2
                      .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 #{item["almacen"]}
                      .h6.mb-0.text-monospace.font-weight-bold.text-gray-800 Cortinas Disp #{item["cortinas"] - item["operacion"]}
                      .h6.mb-0.text-monospace.font-weight-bold.text-gray-800 Cortinas Ocup #{item["operacion"]}


block scripts
  <script src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js'></script>
  <script src='https://unpkg.com/@fullcalendar/core@4.3.1/locales/es.js'></script>
  <script src='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js'></script>
  <script src='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js'></script>
  <script src='https://unpkg.com/@fullcalendar/bootstrap/main.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js'></script>
