nav(aria-label="breadcrumb")
  ol.breadcrumb
    li.breadcrumb-item
      a#lnk_selected_warehouse(href="#") #{almacen}
    li.breadcrumb-item
      a#lnk_selected_gate(href="#") #{coritna}
    li.breadcrumb-item.active(aria-current="page") Cortina x
.row
  .col-xl-12.col-lg-12
    .card.shadow.mb-4
      .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
        h6.m-0.font-weight-bold.text-primary 1.- Datos Generales
      .card-body
      