extends layout
block styles
  <link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/@fullcalendar/bootstrap/main.min.css' rel='stylesheet' />

block content

  p #{message}

  ul#myTab.nav.nav-tabs(role="tablist")
    li.nav-item
      a#schedule-tab.nav-link.active(data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="true") En calendario
    li.nav-item
      a#receiving-tab.nav-link(data-toggle="tab" href="#receiving" role="tab" aria-controls="receiving" aria-selected="false") En recepción
  .tab-content
    #schedule.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="schedule-tab")
      #calendar
    #receiving.tab-pane.fade(role="tabpanel" aria-labelledby="receiving-tab") En construcción ...

block scripts
  <script src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js'></script>
  <script src='https://unpkg.com/@fullcalendar/core@4.3.1/locales/es.js'></script>
  <script src='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js'></script>
  <script src='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js'></script>
  <script src='https://unpkg.com/@fullcalendar/bootstrap/main.min.js'></script>
