extends layout

block content

  p #{message}
  ul#myTab.nav.nav-tabs(role="tablist")
    li.nav-item
      a#recibed-tab.nav-link.active(data-toggle="tab" href="#recibed" role="tab" aria-controls="recibed" aria-selected="true") Recibidos
    li.nav-item
      a#layout-tab.nav-link(data-toggle="tab" href="#layout" role="tab" aria-controls="layout" aria-selected="false") Layout
  .tab-content
    #recibed.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="recibed-tab") 
      .container(style="margin-top: 20px")
        #div-recibidos
          include ubicacion_recibidos.pug
        #div-recibido.d-none
    #layout.tab-pane.fade(role="tabpanel" aria-labelledby="layout-tab") 
      .container(style="margin-top: 20px")
        #div-layout
        #div-zonas.d-none
          